footer {
    background: var(--color-primary);
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.6rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__socials a:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border: 0px;
    font-size: 1.3em;
    padding: 0.4rem;
}

.footer__copyright {
    margin-bottom: 5.5rem;
    color: var(--color-bg);
}

.footer__socials-icon{
    font-size: 1.5em;
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px) {
    .permalinks {
        flex-direction: column;
        font-size: 1.2rem;
        gap: 1.4rem;
        margin-bottom: 1.5rem;
    }
}